BASE_URL=https://analytics.mammutstudios.com
SECRET_KEY_BASE=__SECRET__

# Optioneel: e-mail voor wachtwoordherstel en uitnodigingen.
# MAILER_ADAPTER=Bamboo.SMTPAdapter
# SMTP_HOST_ADDR=
# SMTP_HOST_PORT=587
# SMTP_USER_NAME=
# SMTP_USER_PWD=
